@import './base.css';

:root {
  --post-preview-gap: 20px;
}

#app {
  margin: 0 auto;
  padding: 0.5rem;
  font-weight: normal;
  height: 100%;
}

a,
.blue {
  text-decoration: none;
  color: #5092c0;
  transition: 0.4s;
  padding: 3px;
}

.post-flex {
  padding: 0 20px;
  display: grid;
  grid-gap: var(--post-preview-gap);
  justify-content: center;
  grid-template-columns: repeat(
    auto-fit,
    clamp(400px, calc(50% - (var(--post-preview-gap) / 2)), 800px)
  );
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
