div.post-border {
  padding: 25px;
  background-color: var(--vt-c-divider-dark-2);
  height: 100%;
}

.post-border.preview:hover {
  opacity: 0.8;
}

.post-border.detail {
  width: 100%;
}

.post-title {
  margin-bottom: 3px;
  font-size: 35px;
  line-height: 1;
  color: var(--color-heading);
  font-weight: bold;
}

.post-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text);
}

.post-preview-meta-bar,
.post-detail-meta-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.post-preview-meta-bar:deep(.p-button),
.post-detail-meta-bar:deep(.p-button) {
  height: fit-content;
}

.post-preview-meta-bar:deep(.p-button-label),
.post-detail-meta-bar:deep(.p-button-label) {
  line-height: 1;
}

.post-controls {
  display: flex;
  gap: 5px;
}

.post-meta:not(.edit) {
  font-size: 0.75em;
}

.post-meta.detail {
  margin-bottom: 10px;
}

.post-meta h2 {
  font-weight: bold;
}

.post-tags {
  margin-left: 15px;
}

.post-body p {
  color: var(--color-heading);
  font-size: 1.5em;
}

.post-readmore {
  color: var(--color-text);
}

.post-banner,
.post-banner * {
  width: 100%;
  border-radius: 6px;
}

.edit .p-inputtext,
.edit .p-floatlabel,
.edit .post-meta-title,
.edit button[type='submit'],
.edit .post-category-select {
  width: 100%;
}

.post-category.edit {
  width: 14rem;
}

.post-meta.edit {
  gap: 15px;
}

form.edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit .p-floatlabel {
  margin: 0;
}

.edit {
  --p-editor-content-background: var(--p-form-field-background);
  --p-editor-toolbar-background: var(--p-form-field-background);
}

.post-meta-category-select {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.post-author-link:hover {
  background: transparent;
  text-decoration: underline;
}

.post-category-link:hover {
  background: transparent;
}

.post-category-link:hover > .p-tag {
  opacity: 0.8;
}
