div.post-border {
  border: 1px solid var(--p-inputtext-border-color);
  border-radius: 6px;
  padding: 25px;
  background-color: var(--vt-c-divider-dark-2);
}

.post-border.preview:hover {
  opacity: 0.8;
}

.post-title {
  margin-bottom: 3px;
  font-size: 35px;
  line-height: 1;
  color: var(--color-heading);
  font-weight: bold;
}

.post-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text);
}

.post-meta:not(.edit) {
  font-size: 0.75em;
}

.post-meta.detail {
  margin-bottom: 10px;
}

.post-meta h2 {
  font-weight: bold;
}

.post-tags {
  margin-left: 15px;
}

.post-body p {
  color: var(--color-heading);
  font-size: 1.5em;
}

.post-readmore {
  color: var(--color-text);
}

.post-banner,
.post-banner * {
  width: 100%;
  border-radius: 6px;
}

.edit .p-inputtext,
.edit .p-floatlabel,
.edit .post-meta-title,
.edit button[type='submit'],
.edit .post-category-select {
  width: 100%;
}

.post-category.edit {
  width: 14rem;
}

.post-meta.edit {
  gap: 15px;
}

form.edit {
  display: grid;
  gap: 10px;
}

.edit .p-floatlabel {
  margin: 0;
}

.edit {
  --p-editor-content-background: var(--p-form-field-background);
  --p-editor-toolbar-background: var(--p-form-field-background);
}

.post-meta-category-select {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
