div.profile-border {
  padding: 25px;
  background-color: var(--color-background);
}

.profile-grid {
  gap: var(--post-preview-gap);
  display: grid;
  grid-template-columns: repeat(2, clamp(400px, calc(50% - (var(--post-preview-gap) / 2)), 600px));
  justify-content: center;
}

.profile-post-preview {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-username {
  margin-bottom: 3px;
  font-size: 35px;
  line-height: 1;
  color: var(--color-heading);
  font-weight: bold;
}

.post-displayname {
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text);
  margin-bottom: 10px;
}

.profile-metadata {
  margin-bottom: auto;
  display: grid;
  gap: 10px;
  --p-textarea-background: var(--p-fieldset-background);
  --p-inputtext-background: var(--p-fieldset-background);
  --p-floatlabel-on-active-background: var(--color-background);
}

.profile-metadata.edit {
  gap: 20px;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.profile-avatar:deep(.avatar-preview img) {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile-avatar:deep(*) {
  --p-avatar-xl-width: 300px;
  --p-avatar-xl-icon-size: 120px;
}

.profile-avatar:deep(.avatar-preview) {
  width: var(--p-avatar-xl-width);
  height: var(--p-avatar-xl-width);
}

.profile-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-metadata .p-button {
  background-color: var(--p-button-secondary-background);
  --p-button-icon-only-width: 55px;
  --p-button-icon-only-height: 55px;
  --p-icon-size: 22.5px;
  margin-left: 5px;
}

.profile-metadata textarea {
  width: 100%;
  padding: 1.125rem;
}

.profile-edit-inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

a {
  padding: 0;
}

a:hover {
  background-color: transparent;
}
