.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.settings-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  width: fit-content;
  justify-items: end;
  align-items: center;
  gap: 20px 40px;
}

.settings-list label,
.settings-list span {
  font-size: 1.25rem;
}

.settings-list label {
  cursor: pointer;
}

.frame {
  padding: 0;
}
